<ul class="space__wranglers">
   <li class="space__wrangler">
     <div>Dave</div>
     <div>Chicago Academy of Sciences | Peggy Notebaert Nature Mueum</div>
     <div>
       Twitter:
       <a href="https://twitter.com/dbild" target="_blank">@dbild</a>
     </div>
   </li>

   <li class="space__wrangler">
     <div>Dennis</div>
     <div>Nairobi</div>
     <div>
       Twitter:
       <a href="https://twitter.com/dendegwa" target="_blank">@dendegwa</a>
     </div>
     <div>
       Github:
       <a href="https://github.com/denomain" target="_blank">@denomain</a>
     </div>
   </li>

   <li class="space__wrangler">
     <div>Marcos</div>
     <div>UFAL, Brazil</div>
     <div>
       Twitter:
       <a href="https://twitter.com/marcosvcvital" target="_blank">@marcosvcvital</a>
     </div>
     <div>
       Github:
       <a href="https://github.com/marcosvital" target="_blank">@marcosvital</a>
     </div>
   </li>

   <li class="space__wrangler">
     <div>Mariano</div>
     <div>Buenos Aires</div>
     <div>
       Twitter:
       <a href="https://twitter.com/blejman" target="_blank">@blejman</a>
     </div>
     <div>
       Github:
       <a href="https://github.com/marianet" target="_blank">@marianet</a>
     </div>
   </li>

   <li class="space__wrangler">
     <div>Princiya</div>
     <div>Berlin</div>
     <div>
       Twitter:
       <a href="https://twitter.com/princi_ya" target="_blank">@princi_ya</a>
     </div>
     <div>
       Github:
       <a href="https://github.com/princiya" target="_blank">@princiya</a>
     </div>
   </li>

   <li class="space__wrangler">
     <div>Steph</div>
     <div>Mozilla, Seattle</div>
     <div>
       Twitter:
       <a href="https://twitter.com/shefw" target="_blank">@shefw</a>
     </div>
     <div>
       Github:
       <a href="https://github.com/stephwright" target="_blank">@stephwright</a>
     </div>
   </li>

   <li class="space__wrangler">
     <div>Yo</div>
     <div>Cambridge</div>
     <div>
       Twitter:
       <a href="https://twitter.com/yoyehudi" target="_blank">@yoyehudi</a>
     </div>
     <div>
       Github:
       <a href="https://github.com/yochannah" target="_blank">@yochannah</a>
     </div>
   </li>
 </ul>
